@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";

* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color-blue: #172b4d;
  --text-color-green: #36b37e;
  --button-background: #36b37f;
  --button-text: #ffff;
  --cards-background: #ebf0ee;
  --text-color-lightblue: #42526e;
  --red-color: #f00;
  --hover-blue: #b9b9da;
  --languages-icon: #fefeff;
  --light-blue: #344563;
  --light-white-border: #c1c7d0;
  --active-green: #008552;
  --textarea-green-border: #60c095;
}

body {
  font-family: Inter, sans-serif;
}

.hero-section {
  background: url("images/header-illsutration-mobile@2x.png") center/100% 100% no-repeat;
}

/* Header welcome nav styled */

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  height: 100px;
}

.welcome-content header {
  padding-left: 25px;
}

.welcome-content svg {
  padding-right: 25px;
}

.enabled-img {
  width: 100px;
  height: 100px;
}

/* INFO style starts here  */

.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 700 40px/52px Inter, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.my-info .info-name {
  color: var(--text-color-blue);
  width: 80%;
  margin-bottom: 20px;
}

.my-info .occupation {
  color: var(--text-color-green);
  width: 80%;
  margin-bottom: 50px;
}

.description {
  display: flex;
  justify-content: center;
}

.description-text {
  text-align: center;
  font: 400 20px/28px Inter, sans-serif;
  width: 90%;
}

/* social media icon style starts here  */

.socialmedias {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.socialmedias svg {
  fill: #505f79;
}

.socialmedias ul {
  display: flex;
}

.socialmedias li {
  display: flex;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}

.socialmedias span {
  display: none;
}

.socialmedias .svg-twitter:hover {
  fill: #1da1e2;
}

.socialmedias .svg-linkedin:hover {
  fill: #0072b1;
}

.socialmedias .svg-github:hover {
  fill: #171515;
}

.svg-icons:hover {
  fill: red;
}

/*             arrow   nav            */
.arrowdown {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.arrowdown-icon {
  fill: #172b4d;
  border: 1px solid #dfe1e6;
  border-radius: 200px;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.arrowdown-icon:hover {
  fill: #000000ef;
}

/*  section my recent works */

.recent-works .info-name {
  width: 60%;
}

.green-border {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid var(--text-color-green);
  border-radius: 20px;
  width: 30px;
  margin: auto;
}

.card-container {
  margin: 50px 0;
}

.cards {
  border: 1px solid #d8d7d7;
  width: 90%;
  margin: 40px auto;
  border-radius: 8px;
  position: relative;
  list-style-type: none;
}

.card-images {
  display: block;
  margin: auto;
  width: 100%;
}

.card-text {
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 20px;
  text-align: center;
  font: 600 24px/32px Inter, sans-serif;
  color: #3a4a42;
}

.card-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font: 600 12px/16px Inter, sans-serif;
  letter-spacing: 3%;
}

.language-project a {
  color: var(--text-color-green);
}

.mymail-link a {
  text-decoration: none;
  color: var(--text-color-lightblue);
  font: 400 20px/32px Inter, sans-serif;
  text-align: center;
}

.card-projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-projects li {
  list-style: none;
  margin: 5px;
  background-color: var(--cards-background);
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
}

.card-button {
  display: flex;
  justify-content: center;
}

.see-projects {
  padding: 12px 24px;
  margin: 25px 0;
  background-color: var(--button-background);
  color: var(--button-text);
  border-radius: 4px;
  border: none;
  font: 500 17px/24px Inter, sans-serif;
}

.see-projects:active {
  background-color: #008552;
}

/* section about me  */

.aboutme-header {
  background: url("/images/rightimage.png") right top/100px 130px no-repeat;
  height: 150px;
}

.aboutme-header h1 {
  text-align: center;
  padding-top: 60px;
  font: 700 40px/52px Inter, sans-serif;
  color: var(--text-color-blue);
}

.abtme-description p {
  text-align: center;
  width: 81%;
  margin: auto;
  font: 400 20px/32px Inter, sans-serif;
  color: var(--text-color-lightblue);
}

.aboutme-footer {
  background: url("images/leftimage.png") left/70px 70px no-repeat;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-footer button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  height: 48px;
  background-color: var(--button-background);
  font: 500 17px/24px Inter, sans-serif;
  text-align: center;
  letter-spacing: 3%;
  color: var(--button-text);
}

.aboutme-footer button:active {
  background-color: var(--active-green);
}

.languages-card {
  width: 90%;
  height: 400px;
  background-color: var(--cards-background);
  margin: auto;
  border-radius: 4px;
  border: 1px solid var(--light-white-border);
  margin-bottom: 40px;
}

.languages-icon {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages-icon-span {
  background-color: var(--languages-icon);
  padding: 15px;
  border-radius: 200px;
}

.languages-card h2 {
  text-align: center;
  color: var(--light-blue);
  font: 600 24px/32px Inter, sans-serif;
  padding: 30px 0;
}

.languages-card .card-projects {
  color: var(--text-color-green);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.language-project li {
  background-color: var(--languages-icon);
}

/*    contact section    */

.contact-body {
  background: url("/images/contactimg.png") bottom right/50px 200px no-repeat;
}

.contact-header {
  display: flex;
  justify-content: center;
}

.intrest-header {
  text-align: center;
  font: 700 40px/52px Inter, sans-serif;
  color: var(--text-color-blue);
  padding: 60px;
}

.customer-contacts {
  display: flex;
  justify-content: center;
}

.customer-contacts form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-contacts label {
  display: none;
}

.customer-contacts input {
  height: 48px;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: 18;
  padding-left: 10px;
  width: 327px;
  border: 1px solid #d0d9d4;
}

.customer-contacts input:hover {
  border: 1px solid var(--hover-blue);
}

.customer-contacts input[type="submit"] {
  background-color: var(--button-background);
  border: none;
  color: white;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  width: 129px;
  font: 500 17px/24px Inter, sans-serif;
  letter-spacing: 3%;
}

.customer-contacts input[type="submit"]:active {
  background-color: var(--active-green);
}

.customer-textarea {
  border: 1px solid var(--textarea-green-border);
  width: 340px;
  border-radius: 4px;
  height: 114px;
  padding: 10px;
  font: 400 15px/24px Inter, sans-serif;
}

.customer-textarea:hover {
  border: 1px solid var(--hover-blue);
}

.mymail-link {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
  height: 30px;
}

.mymail-link a:hover {
  color: #171515;
}

.black-border {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 5px solid black;
  width: 134px;
  height: 5px;
  margin: 20px auto;
  border-radius: 4px;
}

/*  styles for desktop version begins here */