@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";

* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color-blue: #172b4d;
  --text-color-green: #36b37e;
  --button-background: #36b37f;
  --button-text: #ffff;
  --cards-background: #ebf0ee;
  --text-color-lightblue: #42526e;
  --red-color: #f00;
  --hover-blue: #b9b9da;
  --languages-icon: #fefeff;
  --light-blue: #344563;
  --light-white-border: #c1c7d0;
  --active-green: #008552;
  --textarea-green-border: #60c095;
  --hover-light-blue-text: #1e488f;
}

body {
  font-family: Inter, sans-serif;
}

input,
textarea {
  outline: none;
}

.hero-section {
  background: url("images/header-illsutration-mobile@2x.png") center/100% 100% no-repeat;
}

/* Header welcome nav styled */

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  height: 100px;
}

.welcome-content header {
  padding-left: 25px;
}

.welcome-content svg {
  padding-right: 25px;
}

.enabled-img {
  width: 100px;
  height: 100px;
}

/* INFO style starts here  */

.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 700 40px/52px Inter, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.my-info .info-name {
  color: var(--text-color-blue);
  margin-bottom: 20px;
}

.my-info .occupation {
  color: var(--text-color-green);
  width: 80%;
  margin-bottom: 50px;
}

.description {
  display: flex;
  justify-content: center;
}

.description-text {
  text-align: center;
  font: 400 20px/28px Inter, sans-serif;
  width: 90%;
}

/* social media icon style starts here  */

.socialmedias {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.socialmedias svg {
  fill: #505f79;
}

.socialmedias ul {
  display: flex;
}

.socialmedias li {
  display: flex;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}

.socialmedias span {
  display: none;
}

.socialmedias .svg-twitter:hover {
  fill: #1da1e2;
}

.socialmedias .svg-linkedin:hover {
  fill: #0072b1;
}

.socialmedias .svg-github:hover {
  fill: #171515;
}

.svg-icons:hover {
  fill: red;
}

/*             arrow   nav            */
.arrowdown {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.arrowdown-icon {
  fill: #172b4d;
  border: 1px solid #dfe1e6;
  border-radius: 200px;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.arrowdown-icon:hover {
  fill: #000000ef;
}

/*  section my recent works */

.recent-works .info-name {
  width: 60%;
}

.green-border {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid var(--text-color-green);
  border-radius: 20px;
  width: 30px;
  margin: auto;
}

.card-container {
  margin: 50px 0;
}

.cards {
  border: 1px solid #d8d7d7;
  width: 90%;
  margin: 40px auto;
  border-radius: 8px;
  position: relative;
  list-style-type: none;
}

.card-images {
  width: 100%;
}

.card-text {
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 20px;
  text-align: center;
  font: 600 24px/32px Inter, sans-serif;
  color: #3a4a42;
}

.card-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font: 600 12px/16px Inter, sans-serif;
  letter-spacing: 3%;
}

.language-project a {
  color: var(--text-color-green);
}

.mymail-link a {
  text-decoration: none;
  color: var(--text-color-lightblue);
  font: 400 20px/32px Inter, sans-serif;
  text-align: center;
}

.card-projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-projects li {
  list-style: none;
  margin: 5px;
  background-color: var(--cards-background);
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
}

.card-button {
  display: flex;
  justify-content: center;
}

.see-projects {
  padding: 12px 24px;
  margin: 25px 0;
  background-color: var(--button-background);
  color: var(--button-text);
  border-radius: 4px;
  border: none;
  font: 500 17px/24px Inter, sans-serif;
}

.see-projects:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
  background-color: var(--button-background);
}

.see-projects:active {
  background-color: #008552;
}

/* section about me  */

.aboutme-header {
  background: url("/images/rightimage.png") right top/100px 130px no-repeat;
  height: 150px;
}

.aboutme-header h1 {
  text-align: center;
  padding-top: 60px;
  font: 700 40px/52px Inter, sans-serif;
  color: var(--text-color-blue);
}

.abtme-description p {
  text-align: center;
  width: 81%;
  margin: auto;
  font: 400 20px/32px Inter, sans-serif;
  color: var(--text-color-lightblue);
}

.aboutme-footer {
  background: url("images/leftimage.png") left/70px 70px no-repeat;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-footer button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  height: 48px;
  background-color: var(--button-background);
  font: 500 17px/24px Inter, sans-serif;
  text-align: center;
  letter-spacing: 3%;
  color: var(--button-text);
}

.aboutme-footer button:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
  background-color: var(--button-background);
}

.aboutme-footer button:active {
  background-color: var(--active-green);
}

.languages-card {
  width: 90%;
  height: 400px;
  background-color: var(--cards-background);
  margin: auto;
  border-radius: 4px;
  border: 1px solid var(--light-white-border);
  margin-bottom: 40px;
  list-style-type: none;
}

.languages-icon {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages-icon-span {
  background-color: var(--languages-icon);
  padding: 15px;
  border-radius: 200px;
}

.languages-card h2 {
  text-align: center;
  color: var(--light-blue);
  font: 600 24px/32px Inter, sans-serif;
  padding: 30px 0;
}

.languages-card .card-projects {
  color: var(--text-color-green);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.language-project li {
  background-color: var(--languages-icon);
}

/*    contact section    */

.contact-body {
  background: url("/images/contactimg.png") bottom right/50px 200px no-repeat;
}

.contact-header {
  display: flex;
  justify-content: center;
}

.intrest-header {
  text-align: center;
  font: 700 40px/52px Inter, sans-serif;
  color: var(--text-color-blue);
  width: 70%;
}

.customer-contacts {
  display: flex;
  justify-content: center;
}

.customer-contacts form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.customer-contacts label {
  display: none;
}

.customer-contacts input {
  height: 48px;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: 18;
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d9d4;
}

.customer-contacts input[type="submit"] {
  background-color: var(--button-background);
  border: none;
  color: white;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  width: 129px;
  font: 500 17px/24px Inter, sans-serif;
  letter-spacing: 3%;
}

.customer-contacts input[type="submit"]:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
  background-color: var(--button-background);
}

.customer-contacts input[type="submit"]:active {
  background-color: var(--active-green);
}

.customer-textarea {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 114px;
  width: 100%;
  padding: 10px;
  font: 400 15px/24px Inter, sans-serif;
}

input:focus-visible,
textarea:focus-visible {
  border: 2px solid var(--textarea-green-border);
}

.black-border {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 5px solid black;
  width: 134px;
  height: 5px;
  margin: 20px auto;
  border-radius: 4px;
}

.d-none {
  display: none;
}

.md-version-ending-socialmedia {
  margin-bottom: 200px;
}

/*  styles for desktop version begins here */

@media screen and (min-width: 768px) {
  .md-header-background {
    background: url("images/desktop-version/Header-llustration-desktop.png") center/100% 100% no-repeat;
    height: 1000px;
    display: flex;
    justify-content: center;
  }

  .md-header-content-center {
    width: 60%;
  }

  .hero-section {
    background: none;
  }

  /*  styles for desktop version header nav begins here */
  .md-header-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .md-header-nav-ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .md-header-nav-li {
    list-style-type: none;
    font: 600 15px/20px Inter, sans-serif;
  }

  .md-header-nav-li-a {
    text-decoration: none;
    color: var(--light-blue);
  }

  .md-header-nav-li-a:hover {
    color: var(--hover-light-blue-text);
  }

  /*  styles for desktop version multipost cards begins here  */

  .recent-works {
    margin: 0 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .md-multipost-cards-container {
    list-style-type: none;
  }

  .md-multipost {
    list-style-type: none;
  }

  .md-multipost-card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards {
    margin: 10px;
    width: 30%;
  }

  /*   styles for desktop version aboutme background begins here    */

  .about-me {
    display: flex;
    justify-content: center;
  }

  .about-me-header-background-right {
    background: url("/images/rightimage.png") right bottom/100px 250px no-repeat;
  }

  .aboutme-footer {
    background: url("images/leftimage.png") left/100px 150px no-repeat;
  }

  /*   styles for desktop version languages card begins here    */

  .languagescard-container {
    display: flex;
    justify-content: center;
  }

  .md-languagescard-container {
    display: flex;
    width: 90%;
    margin: 0 20px;
    list-style-type: none;
  }

  .languages-card {
    margin: 10px;
    width: 33%;
  }

  /*   styles for desktop version contacts begins here    */
  .contact-body {
    background: url("/images/desktop-version/contact-form-illustratoin-3-desktop.png") bottom right/150px 300px no-repeat;
    display: flex;
    justify-content: center;
  }

  .md-contact-body {
    display: flex;
    width: 90%;
    padding-top: 100px;
    margin: 0 20px;
  }

  .intrest-header {
    font: 700 30px/52px Inter, sans-serif;
    width: 100%;
    text-align: left;
  }

  .contact-header {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    height: 400px;
    padding-top: 50px;
    background: url("/images/desktop-version/illustration-1-contact-form-desktop.png") bottom center/100px 100px no-repeat;
  }

  .customer-contacts {
    width: 60%;
  }

  .md-version-form-container {
    display: flex;
    width: 100%;
  }

  .md-version-form-container .firstname {
    margin-right: 5px;
  }

  .md-version-form-container .lastname {
    margin-left: 5px;
  }

  .customer-contacts input[type="email"] {
    width: 98%;
  }

  .customer-textarea {
    width: 98%;
    margin-top: 10px;
  }

  .customer-contacts input[type="submit"] {
    align-self: flex-start;
  }

  .contacts {
    background: url("/images/desktop-version/illustration-1-contact-form-desktop.png") bottom left/100px 200px no-repeat;
  }

  /* content not to be displayed when screen size is >= 768px stays here */

  .welcome-content {
    display: none;
  }

  .green-border {
    display: none;
  }

  .aboutme-header {
    background: none;
  }

  .fname {
    display: none;
  }

  .black-border {
    display: none;
  }
}
